html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Magain Général Lebrun 
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        link(rel="stylesheet" href="../css/styles.css" )
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.13.0/css/all.css')
    
    body
      .container
        .header
          include ../includes/header
        .content
          block content
        .footer
          include ../includes/footer
      


